/* reset et styles de base */
/* je commente une réinitialisation css pour uniformiser le rendu entre navigateur */

* {
    /* une sélecteur universel qui s'applique à tous les éléments HTML */
    margin: 0;
    padding: 0;
    box-sizing: border-box;     

    /* "margin qui supprime totes les marges", "padding qui supprime tous les espacements", "box-sizing qui change le modèle de la boîte */
}

/* styles appliqués à l'élément body (corps du document) */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;

    /* font-family: Arial sans-serif une police d'écriture avec fallback sans-serif */
    /* line-height un interlignage 1.6 pour une meilleure lisibilité */
    /* color: #333 est une couleur de texte gris foncé */
    /* background-color est la couleur de fond gris très clair pour contraste */
}
